/* HEADER✅✅✅ */
.header {
  background-color: #fdf2e9;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Because we want header to be sticky, So sticky meaning that as we scroll down the page it would stay at the same position. tai fixed height diye delam */
  height: 9.6rem;

  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 2.2rem;
}

/* Navigation✅ */
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
  text-shadow: 0 0.4rem 0.3rem rgba(255, 0, 0, 0.3);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 15px;
  color: #fff;
  background-color: #e67e22;
  text-shadow: 0 0.4rem 0.3rem rgba(255, 0, 0, 0.5);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
  color: #fdf2e9;
  box-shadow: 0 0 0 0.3rem #ff6b6b;
}

/* MOBILE NAVIGATION📱✅📱 */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  /* By default display ekhane none thakbe */
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  /* etar jonno html e kintu name create korte hobe */
  display: none;
}

/* STICKY NAVIGATION✅ */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  border-bottom: 2px solid rgba(0, 0, 0, 0.14);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
  /* chintar bisoy */
}
/* ⛔⛔⛔ */

/* HERO✅✅✅ */
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem; /* 1300px */
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-img {
  width: 100%;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.delivered-meals {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin-right: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}
/* ⛔⛔⛔ */

/* FEATURED✅✅✅ */
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-around;
  /* space-around age piche gap toiri kore ja onek somoy dekhte valo lage */
}

.logos img {
  height: 3.2rem;
  filter: brightness(0) blur(0.4px);
  opacity: 50%;
}
/* ⛔⛔⛔ */

/* HOW IT WORKS✅✅✅ */
.section-how {
  padding: 9.6rem 0;
}

.step-img {
  width: 35%;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  /* height: 60%; height dile kaj korbe na, padding dite hobe */
  padding-bottom: 60%;
  /* 60% of parent's width */

  background-color: #fdf2e9;
  z-index: -2;
}

.step-img-box::after {
  /* before only ek bar use korte parbo same class er sathe, tai sei class er sathe after use korlam */
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}
/* ⛔⛔⛔ */

/* MEALS✅✅✅ */
.section-meals {
  padding: 9.6rem 0;
}

.meal-img {
  width: 100%;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  font-weight: 600;
  border-radius: 100px;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #94d82d;
}

.tag--paleo {
  background-color: #ffd43b;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 15px;

  overflow: hidden;
  /* img er uporer side auto rounded(15px) hoye jabe */

  transition: all 0.4s;
}

.meal:hover {
  /* (x,y) */
  transform: translate(0, -1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.1);
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}
/* ⛔⛔⛔ */

/* TESTIMONIALS✅✅✅ */
.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  /* grid-template-columns: 50fr 50fr;
  mane 1st er ta 50% porertau 50% */
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item img {
  display: block;
  /* block dilam karon porpor duita img er majhe jeno kono gap na thake. inline-block deleu gap thakse */
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1) rotate(2deg);
}

.gallery-item {
  overflow: hidden;
}
/* ⛔⛔⛔ */

/* PRICING✅✅✅ */
.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  border-radius: 15px;
  width: 75%;
}

.pricing-plan--starter {
  justify-self: end;
  border: 0.3rem solid #fdf2e9;
  padding: 4.6rem;
}

.pricing-plan--complete {
  background-color: #fdf2e9;
  padding: 4.9rem;
  /* (pricing-plan--starter er) 4.6rem er sathe 0.3rem border add korte hobe taile duita ekdom soman hobe  */

  position: relative;
  overflow: hidden;
}

.pricing-plan--complete::after {
  /* u can use before */
  content: "Best Value";
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.8rem 8rem;
  background-color: #ffd43b;
  color: #333;
  position: absolute;
  text-shadow: 0 0.4rem 0.3rem rgba(255, 0, 76, 0.5);

  /* Flexible layout er jonno % use kora better */
  top: 6%;
  right: -18%;

  transform: rotate(45deg);
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

.feature-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  margin-bottom: 3.2rem;
  background-color: #fdf2e9;
  padding: 1.6rem;
  border-radius: 50%;
}

.featured-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.featured-text {
  font-size: 1.8rem;
  line-height: 1.8;
}
/* ⛔⛔⛔ */

/* CALL TO ACTION✅✅✅ */
.section-cta {
  /* BASIC: top - right - bottom -left */
  padding: 4.8rem 0 12.8rem;
  /* top - right left - bottom */
}

.cta {
  display: grid;

  grid-template-columns: 2fr 1fr;
  /* 2/3 = 0.66/66%   1/3 = 0.33/33% */

  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  /* left er top theke suru hoye aste aste right er bottom e jabe  */

  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  overflow: hidden;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-text-box {
  color: #45260a;
  /* mind that ekhan kar color e kintu er child element pabe */
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.cta .heading-secondary {
  color: inherit;
  /* color: #45260a; */

  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
  text-shadow: 0 0.4rem 0.3rem rgba(255, 0, 0, 0.4);
}

.cta-form input,
.cta-form select {
  width: 95%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  /* border: none; */
  background-color: #fdf2e9;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: 1.5px solid rgba(255, 0, 0, 0.4);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta-form button {
  transition: all 0.4s;
}

.btn--form {
  border: none;
  cursor: pointer;
  font-family: inherit;
  width: 95%;
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
  border-radius: 10px;
  text-shadow: 0 0.4rem 0.3rem rgba(0, 0, 0, 0.25);
}

.btn--form:hover {
  background-color: #ffffffd4;

  color: inherit; /* #45260a */
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}
/* ⛔⛔⛔ */

/* FOOTER✅✅✅ */
.footer {
  padding: 12.8rem 0;
  border-top: 2px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.copyright {
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.4;

  margin-top: auto;
  /* eta korte gele .logo-col k display: flex korte hobe */
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.4;
}

.address {
  margin-bottom: 1.4rem;
}
/* ⛔⛔⛔ */
